@charset "utf-8";
/* CSS Document */

body{
	background-image: url("images/mike-swigunski-Ku59NWmVcnI-unsplash.jpg");
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ffffff;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
	
}
#contact-form{
	background: rgba(240,230,230,0.2);
	margin: 250px auto;
	width: 280px;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	font-weight: 400
	
}

#contact-form input[type="text"]{
	width: 220px;
	padding: 5px;
	border-radius: 3px;
	background: #BFBABA;
	border: 1px solid #BFBABA;
	margin: 5px;
	
}
#contact-form input[type="password"]{
	width: 220px;
	padding: 5px;
	border-radius: 3px;
	background: #BFBABA;
	border: 1px solid #BFBABA
}	
#contact-form input[type="submit"]{
	padding: 3px; 
	border-radius: 3px;
	background: #BFBABA;
	border: 1px solid #BFBABA;
	width: 100px;
	color:#fff;
	font-size: 15px;
	
}
#contact-form input[type="text"]:hover{
	background: #BFBABA
}


